
<!-- Header -->
<header>
    <div class="container">
      <div class="row">
          <div class="pull-left links">
              <ul class="list-inline">
                <li><a href="{{ site.baseurl }}series/index.html">Work</a></li>
                <li><a href="{{ site.baseurl }}about/index.html">John Bedford</a></li>
              </ul>
          </div>
      </div>
    </div>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

